<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@model ITManagement.Models.Devices
@{
    ViewData["Title"] = "Index";
}
<style>

    /* Custom styles */
    .btn-icon {
        font-size: 1.5rem;
        margin: 4px;
    }

    .btn {
        margin: 5px;
        font-size: 1.3rem;
    }

    .head {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        margin: 20px;
    }

    .info {
        font-size: 1.5rem;
    }

    .data {
        font-size: 1.3rem;
    }

    #addbutton, #updateAll {
        border-radius: 5px;
        padding: 8px 20px;
        margin-bottom: 15px;
        color: white;
        border: none;
        box-shadow: 2px 2px 2px 2px #E8E8E8;
    }

    #Edit {
        background-color: #5cb85c;
        border: none;
        margin-right: 5px;
        padding: 8px 15px;
        border-radius: 3px;
        color: white;
    }

        #Edit a {
            text-decoration: none;
        }

    #Delete {
        background-color: #d9534f;
        border: none;
        padding: 8px 15px;
        border-radius: 3px;
        color: white;
    }

    thead {
        color: black;
        background-color: green !important;
        font-size: 1.7rem;
    }

    tr:nth-child(even) td {
        background-color: #E8E8E8;
    }

    tr:nth-child(odd) td {
        background-color: white;
    }

    .head {
        font-size: 4.5rem;
        font-weight: 600;
    }

    .data {
        font-size: 1.7rem;
    }
</style>
<h1 class=" head text-center">Manage Devices</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button id="addbutton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDeviceModal">
                <i class="fa fa-plus btn-icon"></i> Add Device
            </button>
            <button id="updateAll" type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateall">
                <i class="fa fa-pencil btn-icon"></i>
                Update All
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="info">
                        <th>Device Name</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>User Code</th>
                        <th>Alloted To</th>
                        <th>Alloted Date</th>
                        <th>Actions</th>
                        <th><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" /></svg></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Device)
                    {
                        <tr>
                            <td class="data">@item.DeviceName</td>
                            <td class="data">@item.Category.CategoryName</td>
                            <td class="data">@item.Description</td>
                            <td class="data">
                                @if (item.Status)
                                {
                                    <p>Alloted</p>
                                }
                                else
                                {
                                    <p>Not Alloted</p>
                                }
                            </td>
                            <td class="data">
                                @if (item.User != null)
                                {
                                    @item.User.UserId
                                }
                                else
                                {
                                    <text></text>
                                }
                            </td>
                            <td class="data">
                                @if (item.User != null)
                                {
                                    @item.User.FullName
                                }
                                else
                                {
                                    <text></text>
                                }
                            </td>
                            <td class="data">@item.AllotedDate</td>
                            <td>
                                <button id="Edit" type="button" class="btn btn-success" onclick="openEditModal('@item.DeviceId', '@item.DeviceName', '@item.CategoryId', '@item.Description', '@item.Status', '@item.UserId')">
                                    Edit
                                    &nbsp;
                                    &nbsp;
                                    <i class="fa fa-pencil btn-icon"></i>
                                </button>
                                <form method="post" asp-action="DeleteDevice" id="deleteCategory" style="display:inline;">
                                    <input type="hidden" asp-for="DeviceId" name="deleteDeviceId" id="deleteDeviceId" value="@item.DeviceId" />
                                    <button type="submit" id="Delete">
                                        Delete
                                        <i class="fa fa-trash btn-icon"></i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <input type="checkbox" name="selectedDeviceIds" value="@item.DeviceId" />

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal for create -->
<form method="post" asp-controller="ManageDevices" asp-action="Create" class="modal fade" id="addDeviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onclick="hideErrorBox()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="exampleModalLabel">Add Device</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="DeviceName" class="control-label"></label>
                    <input asp-for="DeviceName" class="form-control" id="deviceName" />
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-control" id="categoryId">
                        <option value="" disabled selected>Select a Category</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" id="description" />
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Status" id="statusCheckbox" /> Status
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserId" class="control-label"></label>
                        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId" id="userIdSelect">
                            <option value="" disabled selected>Select a user</option>
                        </select>
                    </div>
                </div>
                <div id="addErrorAlert" class="alert alert-danger" role="alert" style="display: none; margin-top: 10px;">
                    <!-- Error message will be displayed here -->
                </div>
            </div>
            <div class="modal-footer form-group">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:#BB3F3F; color:white">Close</button>
                <button type="submit" class="btn btn-primary" id="addDeviceButton" value="Create">Add</button>
            </div>
        </div>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var statusCheckbox = document.getElementById('statusCheckbox');
        var userIdSelect = document.getElementById('userIdSelect');

        statusCheckbox.addEventListener('change', function () {
            userIdSelect.disabled = !statusCheckbox.checked;
        });

        // Set initial state
        userIdSelect.disabled = !statusCheckbox.checked;
    });

</script>
<script>


    document.getElementById('addDeviceButton').addEventListener('click', function (event) {
        event.preventDefault();
            var deviceName = document.getElementById('deviceName').value;
            var categoryId = document.getElementById('categoryId').value;
            var description = document.getElementById('description').value;
        var status = document.getElementById('statusCheckbox').checked;
        var userId = document.getElementById('userIdSelect').value;

            $.ajax({
                type: "POST",
                url: '/ManageDevices/Create',
                data: {
                    DeviceName: deviceName,
                    CategoryId: categoryId,
                    Description: description,
                    Status: status,
                    UserId: userId
                },
                success: function (data) {
                    if (data.errorMessage) {
                        var errorMessage = data.errorMessage;
                        var errorBox = document.getElementById('addErrorAlert');
                        errorBox.innerText = errorMessage;
                        errorBox.style.display = 'block';
                    } else {
                        $('#addDeviceModal').modal('hide'); // Close the modal on success
                        location.reload(); // Refresh the page
                    }
                       //addButton.disabled = false; // Enable the button after the operation is complete
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    //addButton.disabled = false; // Enable the button in case of an error
                }
            });
    });
</script>



<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true" onclick="hideErrorBox()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="editCategoryModalLabel">Edit Device Details</h2>
            </div>
            <div class="modal-body">
                <form id="editCategoryForm" method="post" asp-action="Edit">
                    <div class="form-group">
                        <label asp-for="DeviceName" class="control-label"></label>
                        <input type="text" asp-for="DeviceName" class="form-control" id="editdeviceName" name="DeviceName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-control" id="editcId"></select>
                    </div>
                    <input type="hidden" id="DIdd" name="DeviceId" asp-for="DeviceId" class="form-control" />

                    <label asp-for="Description" class="control-label"></label>
                    <input type="text" asp-for="Description" class="form-control" id="editdesc" name="Description" />
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Status" id="est" /> Status
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserId" class="control-label"></label>
                        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId" id="editUId">
                            <option value="" disabled selected>Select a user</option>
                        </select>
                    </div>
                    <div id="editErrorAlert" class="alert alert-danger" role="alert" style="display: none; margin-top: 10px;">
                        <!-- Error message will be displayed here -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:#BB3F3F; color:white">Close</button>
                        <input type="submit" id="editSubmitBtn" value="Save Changes" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function openEditModal(Did, DName, CId, Desc, St, Uid) {
        document.getElementById('DIdd').value = Did;
        document.getElementById('editdeviceName').value = DName;
        document.getElementById('editcId').value = CId;
        document.getElementById('editdesc').value = Desc;

        const userIdField = document.getElementById('editUId');

        if (St === 'True') {
            document.getElementById('est').checked = true;
            userIdField.disabled = false;
        } else {
            document.getElementById('est').checked = false;
            userIdField.disabled = true;
        }

        userIdField.value = Uid;

        document.getElementById('est').addEventListener('change', function () {
            if (this.checked) {
                userIdField.disabled = false;
            } else {
                userIdField.disabled = true;
            }
        });

        $('#editCategoryModal').modal('show');
    }
</script>
<script>

    document.getElementById('editSubmitBtn').addEventListener('click', function (event) {
        event.preventDefault();
        var device = {
            DeviceId: document.getElementById('DIdd').value,
            DeviceName: document.getElementById('editdeviceName').value,
            CategoryId: document.getElementById('editcId').value,
            Description: document.getElementById('editdesc').value,
            Status: document.getElementById('est').checked,
            UserId: document.getElementById('editUId').value
        };
        
        $.ajax({
            url: '/ManageDevices/Edit',
            type: 'POST',
            data: device,
            success: function (data) {
                if (data.errorMessage) {
                    var errorMessage = data.errorMessage;
                    var errorBox = document.getElementById('editErrorAlert');
                    errorBox.innerText = errorMessage;
                    errorBox.style.display = 'block';
                } else {
                    $('#editCategoryModal').modal('hide'); // Close the modal on success
                    location.reload(); // Refresh the page
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var statusCheckbox = document.getElementById('updateStatus');
        var userIdSelect = document.getElementById('updateUId');
        var CatCheckbox = document.getElementById('CatCheckbox');
        var upcat = document.getElementById('upcat');
        var allotment = document.getElementById('allotment');
        statusCheckbox.addEventListener('change', function () {
            userIdSelect.disabled = !statusCheckbox.checked;
        });
        CatCheckbox.addEventListener('change', function () {
            upcat.disabled = !CatCheckbox.checked;

        });
        allotment.addEventListener('change', function () {
            statusCheckbox.disabled = !allotment.checked;
        });


        // Set initial state
        statusCheckbox.disabled = !allotment.checked;
        upcat.disabled = !CatCheckbox.checked;

        userIdSelect.disabled = !statusCheckbox.checked;
    });
</script>
<div class="modal fade" id="updateall" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true"onclick="hideErrorBox()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="editCategoryModalLabel">Edit User Details</h2>
            </div>
            <div class="modal-body">
                <form id="editCategoryForm" method="post" asp-action="UpdateAllDevices">
                    <div class="form-group">
                        <div class="checkbox">
                            <label style="margin-bottom:2%;font-weight:bold">
                                <input type="checkbox" id="CatCheckbox" />
                                Category

                            </label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId" id="upcat" required style="margin-left:3%;width:98%">
                                <option disabled selected>Select Category</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label style="font-weight:bold">
                                <input type="checkbox" id="allotment" /> Allotment
                            </label>
                        </div>
                        <div class="checkbox">
                            <label style="margin-left:3%">
                                <input type="checkbox" asp-for="Status" id="updateStatus" /> Status
                            </label>
                        </div>
                    </div>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId" id="updateUId" required style="margin-left:3%;width:98%;margin-bottom:5%">
                        <option disabled selected value="">Select User</option>
                    </select>
                    <div id="updateAllAlert" class="alert alert-danger" role="alert" style="display: none; margin-top: 10px;">
                        <!-- Error message will be displayed here -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:#BB3F3F; color:white">Close</button>
                        <input type="button" value="Save Changes" class="btn btn-primary" id="editManySave" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    

    document.getElementById('editManySave').addEventListener('click', function () {
        const checkboxes = document.querySelectorAll('input[name="selectedDeviceIds"]:checked');
        var editMany = {
            selectedDeviceIds: Array.from(checkboxes).map(cb => cb.value),
            categoryId: document.getElementById('upcat').value,
            status: document.getElementById('updateStatus').checked,
            userId: document.getElementById('updateUId').value,
            isUpdateCategory: document.getElementById('CatCheckbox').checked,
            isAllotment: document.getElementById('allotment').checked
        };
        $.ajax({
            type: 'POST',
            url: '/ManageDevices/UpdateAllDevices',
            data: editMany,
            success: function (data) {
                if (data.errorMessage) {
                    var errorMessage = data.errorMessage;
                    var errorBox = document.getElementById('updateAllAlert');
                    errorBox.innerText = errorMessage;
                    errorBox.style.display = 'block';
                } else {
                    $('#updateall').modal('hide'); // Close the modal on success
                    location.reload(); // Refresh the page
                }
            },
            error: function (xhr, status, error) {
                console.log("inside error");
                console.error('Error:', error);
            }
        });
    });
    function hideErrorBox() {
        var errorBox1 = document.getElementById('updateAllAlert');
        var errorBox2 = document.getElementById('addErrorAlert');
        var errorBox3 = document.getElementById('editErrorAlert');


        errorBox1.style.display = 'none';
        errorBox2.style.display = 'none';
        errorBox3.style.display = 'none';


    }
</script>
