
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@model ITManagement.ViewModels.DashboardViewModel
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example of Bootstrap 3 Two Column Grid Layouts for Tablets and Desktops</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>
        .demo-content {
            padding: 15px;
            font-size: 18px;
            background: rgba(75, 192, 192, 0.2); /* Match the first dataset color */
            margin-bottom: 10px;
            border-radius: 4px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            font-family:cursive;
        }

            .demo-content.bg-alt {
                background: rgba(255, 99, 132, 0.2); /* Match the second dataset color */
            }

            .demo-content p {
                font-size: 50px;
                text-align: center;
            }


        /*.demo-content {
            padding: 15px;
            font-size: 18px;
            background: #dbdfe5;
            margin-bottom: 10px;
            border-radius:4px;
            text-align:center;
        }

            .demo-content.bg-alt {
                background: #EEEEEE;
            }

            .demo-content p{
                font-size:50px;
                text-align:center;
            }*/

       

       
        .graphs {
            padding: 10px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            height: 50vh;
        }



        .table {
            box-sizing: border-box;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

            table.table th {
                background-color: rgba(75, 192, 192, 0.2); /* Blue shade */
            }

         


            .table th,
            .table td {
                font-size: 14px;
            }

            .table th {
                background-color: #ddd;
                font-size: 16px;
            }
        @@media screen and (max-width: 480px) {
            .table th,
            .table td {
                padding: 2px;
                font-size: 5px !important;
            }
            .table th {
                background-color: #ddd;
                font-size: 5px !important;
            }
              
            
            .table-box {
                padding: 10px 10px 0px 10px !important;
              height:60vh !important;
                overflow-y: scroll;
                margin-top:3%;
                
            }
           
            canvas{
                height:100%;
                
            }

           
        }

        body {
            margin-top:2%;
        }

        .card-box {
            padding: 20px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom:2%;
        }

        .table-box {
            box-sizing: border-box;
            padding: 20px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            height: 50vh;
            overflow-y:scroll;
        }
        
    </style>

</head>



<!-- Left Column: Parameters -->

<div class="container card-box">
    <div class="row">
        <div class="col-md-4 demo">
            <div class="demo-content">
                <h2>Total Assets</h2>

                <p>@Model.NumberOfDevices</p>
            </div>
        </div>

        <div class="col-md-4 demo">
            <div class="demo-content">
                <h2>Total Users</h2>

                <p>@Model.NumberOfUsers</p>
            </div>
        </div>

        <div class="col-md-4 demo">
            <div class="demo-content">
                <h2>Total Allotted Devices</h2>

                <p>@Model.NumberOfAllottedDevices</p>
            </div>
        </div>

    </div>
</div>


<!-- Right Column: Graphs and Logs Table -->
<div class="container ">

    <div class="row">
        <div class="col-md-6">


            <div class="graphs">

                <canvas id="barChart" ></canvas>

            </div>
        </div>

        <div class="col-md-6">

            <div class="graph table-box">

                <table class="table table-bordered ">

                    <thead>

                        <tr >

                           

                            <th>Change Type</th>



                            <th>Category Name</th>

                            <th>User ID</th>

                            <th>Device Name</th>

                           

                            <th>Alloted Date</th>

                            <th>Timestamp</th>

                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var log in Model.DeviceLogs)

                        {

                            <tr>

                            

                                <td>@log.ChangeType</td>

                              

                                <td>@log.CategoryName</td>

                                <td>@log.UserId</td>

                                <td>@log.DeviceName</td>

                               
                                <td>@log.AllotedDate</td>

                                <td>@log.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>

                            </tr>

                        }

                    </tbody>

                </table>

            </div>

        </div>
    </div>
    </div>

<script>

    var barChartData = {

        labels: @Html.Raw(Json.Serialize(Model.BarChartData.Select(c => c.Category))),

        datasets: [{

            label: 'Number of Devices',

            data: @Html.Raw(Json.Serialize(Model.BarChartData.Select(c => c.NumberOfUsers))),

            backgroundColor: 'rgba(75, 192, 192, 0.2)', // Bar color

            borderColor: 'rgba(75, 192, 192, 1)', // Border color

            borderWidth: 1

        }, { label: 'Number of Allocated Devices', // Updated label

            data: @Html.Raw(Json.Serialize(Model.BarChartData.Select(c => c.NumberOfAllottedDevices))), // Adjusted data property

                backgroundColor: 'rgba(255, 99, 132, 0.2', // Light pink color

                borderColor: 'rgba(255, 99, 132, 1)', // Border color

            borderWidth: 1}]

    };

    var ctx = document.getElementById('barChart').getContext('2d');

    var myBarChart = new Chart(ctx, {

        type: 'bar',

        data: barChartData,

        options: {

            scales: {

                y: {

                    beginAtZero: true

                }

            }

        }

    });

</script>
